__pycache__/

# django
./backend/*.sqlite3
./backend/*.rdb
./backend/collected-static/
./backend/collected-media/
./backend/media/
./backend/.venv
./deploy/
./deploy-*/

# global settings
.env
.vscode/*.log